.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.cart_container {
  display: flex;
  background-color: rgb(90, 23, 23);
  width: 20%;
  justify-content: center;
  align-items: center;
  height: 70%;
  border-radius: 40px;
}
.cart_count_button {
  background-color: brown;
  margin-left: 20px;
  width: 20%;
  height: 70%;
  text-align: center;
  border-radius: 30%;
  padding: 2% 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
}
.cart_count_button:hover {
  cursor: pointer;
}
